# Copy this file into a new file called ".envrc" in the root of the project.
# Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: direnv.net

# The environment variables below can be uncommented to enable HTTP basic
# authentication
# HTTP_BASIC_AUTH_USERNAME=example
# HTTP_BASIC_AUTH_PASSWORD=example

SECRET_KEY_BASE=c4ae889d87078d0f774d0f573bab20a4edfe8d8ee7c85ba47fb63c31dc75e7dfe9075930ae7a127a9d2023fb3016fcc817900b1aa48ce43426c7289941b21bbf
PORT=3000
REDIS_URL=redis://localhost:6379/3
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
