<% provide(:title, "Privacy Policy") %>
<% content_for(:masthead, render("application/default_masthead")) %>

<div class="row">
  <div class="col-sm-10 offset-sm-1 mt-4">

<p>We're committed to your privacy.</p>

<p>
  We collect personal information from you, including information about your:
  <ul>
    <li>name</li>
    <li>contact information</li>
    <li>interactions with us</li>
  </ul>
</p>
<p>
  We collect your personal information in order to:
  <ul>
    <li>pair you up with people who can either help you, or be helped by you (depending on your role on the platform)</li>
  </ul>
</p>

<p>
Providing some information is optional. If you choose not to enter their street name, we'll be unable to provide location-based matching and community street contacts.
</p>

<p>
We keep your information safe by storing it in a secure database and only allowing vetted persons to access it as required for platform stability purposes. .
</p>

<p>
We keep your information until an account is deleted at which point we securely destroy it by removing the user account and any associated information (public and private).
</p>

<p>
You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected if you think it is wrong. If you’d like to ask for a copy of your information, or to have it corrected, please contact us at joshua.mcarthur@gmail.com, or 02102739017, or 45 Mercury Way, Whitby.
</p>
</div>
</div>
