<% provide(:title, "Terms") %>
<% content_for(:masthead, render("application/default_masthead")) %>

<div class="row">
  <div class="col-sm-10 offset-sm-1 mt-4">

<p>
  We don't have terms just yet. We're an open-source,
  community-driven team of people who just want to help.
</p>

<p>
  Basically, be kind to yourself and others. It's tough enough
  out there without jerks.
</p>
</div>
</div>
