
<div class="row">
  <div class="col-xl-9 mx-auto">
    <h1 class="mb-5">
      <%= yield :title %>
    </h1>

    <% if content_for(:subtitle) %>
    <h3 class="mb-5"><%= yield :subtitle %></h3>
    <% end %>
  </div>
</div>
